body {
	margin:0;
	padding: 0;
	width: 100%;
	background-color: rgb(232, 225, 227);
}
.main {
	width: 80%;
	margin:0 auto;
	position: relative;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.header {
	width: 100%;
	position: relative;
	margin-top: 3%;

}
.header-logotip {
	width: 100%;
	background-color: #000;
	height: 150px;

}
.header-menu {
	float: left;
	display: block;
	margin-top: 15px;
	box-sizing: border-box;
	font-size: 22px;
	position: fixed;
	border: 2px solid;
	font-family: sans-serif;
	
}
.header-menu_items {
	list-style: none;
	font-weight: bold;
	z-index: 100;
	color: #fff;

}

.header-menu_sub-items:hover a {
	padding: 5px;
	background-color: #fff;
	
}

.header-menu_items > li,
.header-menu_sub-items > li  {
	list-style: none;
	padding: 5px;
}
.header-menu_items a {
	text-decoration: none;
	color: #000;
	padding-right: 5px;
	position:relative;
}
.header-menu_items a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: #000;
	transition: 0.3s;
}
.header-menu_items a:hover:before {
	width: 100%;
	}
.header-menu_sub-items {
	display: none;
	background-color: #fff;
    left: 150px;
    border-radius: 5px;
    font-weight: normal;
    margin-top: 5px;


}
.header-menu_items >li:hover .header-menu_sub-items {
	display: block;

}



.header-content {
	float: right;
	width: 60%;
	position: relative;
	
	margin-top: 15px;
	clear: both;

}
.header-slider {
    width: 100%;
    height: 300px;
    background-color: green;

}
.header-article {

width: 100%;
height: 200px;
margin-top: 15px;
box-sizing: border-box;


}
.header-article_block:nth-child(1) {
	float: left;
	background-color:#000;
	width: 32%;
	margin:0 10px 5px 0px;
	height: 200px;
	display: inline-block;
	box-sizing: border-box;
	
}
.header-article_block:nth-child(2) {
	float: left;
	background-color:#fff;
	width: 32%;
	margin-right:10px;
	height: 200px;
	display: inline-block;
	box-sizing: border-box;
}
.header-article_block:nth-child(3) {
	float: left;
	background-color:green;
	width: 32%;
	margin:0 0px 5px 5px;
	height: 200px;
	display: inline-block;
	box-sizing: border-box;
	
}